# Ignorar archivos del sistema y caches de Python
__pycache__/
*.py[cod]
.DS_Store

# Ignorar binarios del servidor de Minecraft y mundos (pesan mucho)
Server/*.jar
Server/logs/
Server/world/
Server/world_nether/
Server/world_the_end/
Server/plugins/
Server/banned-ips.json
Server/banned-players.json
Server/ops.json
Server/usercache.json
Server/whitelist.json

# Mantener configuración del servidor (server.properties) y ignorar backups
Server/backups/